<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
  	<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="">
</head>

<body style="
        min-height: 100vh;
        color: black;
        font-family: 'Nunito', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
  ">
 
    <div id="main-container" style="
        text-align: center;
        width: 100%;
        padding: 50px 0px;
      ">
        <img src="https://now-u.s3.eu-west-2.amazonaws.com/logo_8a27ecf659.jpeg" alt='now-u logo' style="height: auto; width: 90px;">
        <h1 style="
          color:black;
          font-weight: bold;
          margin: 30px 0px 30px 0px;
		      mso-line-height-rule:exactly;
        ">Please confirm your email address</h1>
        <p id="head-p" style="
          color:black;
          margin: 0;
          letter-spacing: 2px;
          font-size: 20px;
        ">Tap the button below to finish the log in process</p>
        
        
        <a href="<%= url %>" id="btn" style="
            display: inline-block;
            margin: auto;
            margin-top: 50px;
            min-width: 300px;
            padding: 10px 20px 10px 20px;
            text-align: center;
            text-decoration: none;
            background-color: #FF7C26;
            color: white;
            border: none;
            outline: none;
            border-radius: 5px;
          ">LOG IN</a>
        
        <p id="mid-p" style="
          margin:auto;
          margin-top: 40px;
          font-size: 18px;
          max-width: 250px;

        ">Or use this secret code in the app to log in:</p>
        <p id="mid-p" style="
          margin:auto;
          font-size: 20px;
          margin-top: 10px;
          max-width: 250px;
          width: 280px;
        "><%= token %></p>

    </div>

    <script src="" async defer></script>
</body>

</html>
